@import "../../styles/variables.scss";
.active {
  color: $primaryColor;
  background-color: rgba(208, 2, 27, 0.05);
  border-radius: 4px;
}
.txtWelcome {
  color: $secondaryTextColor;
  font-weight: bold;
  font-size: 0.6876rem;
  line-height: 0.875rem;
  letter-spacing: 2px;
}
.txtName {
  color: $primaryTextColor;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: -0.4px;
}
.userMenuItems {
  color: $primaryTextColor;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.7rem;
}
.userMenuIcons {
  color: $secondaryTextColor;
  width: 1.25rem;
  height: 1.25rem;
}
.numberInteraction {
  color: $secondaryTextColor;
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 1rem;
  letter-spacing: -0.2px;
}
