@import './variables.scss';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid black; */
}
.nav{
    background-color: $whiteColor;
    padding-top: 1rem;
    padding-bottom: 1rem;
    -webkit-box-shadow: 0px 8px 0px 0px #d1d1d1, ; 
    box-shadow: 0px 2px 0px 0px #d4d4d4, ;
}

.logo{
    color: $primaryColor;
    margin: auto;
    font-weight: bold;
    letter-spacing: 1px;
}
.navbarTitles{
    width: 40.5rem;
    display: flex;
    justify-content: space-between;
    margin-left: 2.6rem;
}
.linkTitle{
    color: $primaryTextColor;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.linkTitle:hover{
    color: $secondaryTextColor;
}
.navbarIcons{
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bi{
    cursor: pointer;
}