@import '../../styles/variables.scss';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid black; */
}
.nav{
    background-color: $whiteColor;
    padding-top: 1rem;
    max-height: 4rem;
}
.logo{
    color: $primaryColor;
    margin: auto;
    font-weight: bold;
    letter-spacing: 1px;
}
.navbarTitles{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-left: 2.6rem;
}
.linkTitle{
    color: $primaryTextColor;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.linkTitle:hover{
    color: $secondaryTextColor;
}
.navbarIcons{
    width: 25;
    justify-content: flex-end;
    align-items: center;
}
.bi{
    cursor: pointer;
}
hr{
    opacity: 0.1;
}
.searchBtn,
.bellBtn,
.listBtn{
    width: 1.25rem;
    height: 1.25rem;
}
.avatarBtn{
    width: 1.5rem;
    height: 1.5rem;
}
.collapseMenu{
    margin-top: 24rem;
    z-index: 1;
}
.userCard{
    width: 273px;
}
.collapseSearchBar{
    z-index: 1;
}
.collapseSearch{
    width: 25rem;
    height: 3rem;
}
.collapseSearch:hover{
    border-color: $primaryColor;
}
@media screen and (max-width:1000px) {
    .nav{
        max-height:10rem;
    }
    .navbarContainer{
        display: flex;
        flex-direction: column;
    }
    .navbarItemsContainer{
        display: flex;
        flex-direction: column;
    }
}