$background: #f5f5f5;
$primaryColor:#D0021B;
$secondaryColor: #FFB400;
$primaryTextColor: #222222;
$secondaryTextColor:#8C8C8C;
$grayColor:#DDDDDD;
$grayColor2:#EEEEEE;
$whiteColor:#FFFFFF;
$greenColor:#00A82D;